<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.opencartAutomation.EditAccount"/>
      <class name="com.opencartAutomation.AddNewCustomer"/>
      <class name="com.opencartAutomation.AddNewAccount"/>
      <class name="com.opencartAutomation.DeleteAccount"/>
      <class name="com.opencartAutomation.DeleteCustomer"/>
      <class name="com.opencartAutomation.EditCustomer"/>
      <class name="com.opencartAutomation.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
